{{header}}
    <p class="statement">This <b>Sanitary Permit to Operate</b> is issued to <b>{{business_name}}</b> located at {{address}},
      having complied with the requirements of the Code on Sanitation of the Philippines (PD 856) and its implementing rules.</p>
    <table class="info">
      <tr><td class="k">Establishment</td><td>{{business_name}}</td></tr>
      <tr><td class="k">Owner</td><td>{{owner_name}}</td></tr>
      <tr><td class="k">Category</td><td>{{category}}</td></tr>
      <tr><td class="k">Permit year</td><td>{{permit_year}}</td></tr>
      <tr><td class="k">Sanitary inspection</td><td>{{inspection_date}} · score {{inspection_score}} · {{inspector_name}}</td></tr>
      <tr><td class="k">Valid until</td><td><b>{{valid_until}}</b> <span class="stamp">{{status}}</span></td></tr>
    </table>
    <p class="statement">This permit is not transferable and must be displayed in a conspicuous place. It may be revoked for violation of sanitary rules.</p>
{{footer}}
