{{header}}
    <p class="statement">This is to certify that, based on the records of this office, <b>{{business_name}}</b> owned by
      <b>{{owner_name}}</b> has <b>no delinquent real property tax</b> as of <b>{{issue_date}}</b> on the properties listed below
      (all quarters due for {{tax_year}} have been paid).</p>
    <table class="grid">
      <tr><th>PIN</th><th>TD No.</th><th>Location</th><th class="num">Assessed value</th></tr>
{{rows}}
    </table>
    <p class="statement">Issued upon request of the interested party for whatever legal purpose it may serve.</p>
{{footer}}
